

/*********************************************
 * GLOBAL
 *********************************************/

body, html {
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 11px;
	background: #111;
}


/*********************************************
 * HEADER
 *********************************************/

header {
	position: relative;
	width: 100%;
	height: 27px;
	margin: 0;
	padding: 0 8px 8px 8px;
	overflow: hidden;
	z-index: 5;
	
	background: rgba( 30, 50, 50, 0.5 );
	color: #eee;
	
	-webkit-transition: height .22s ease-out;
	   -moz-transition: height .22s ease-out;
	     -o-transition: height .22s ease-out;
	        transition: height .22s ease-out;
}

	header.open {
		height: 165px;
	}
	
	header h1 {
		font-family: Molengo, Helvetica, Arial, sans-serif;
		float: left;
		margin-top: 1px;
	}
	
	header .header-instruction {
		float: left;
		margin: 12px 0 0 15px;
		
		font-size: 10px;
		font-style: italic;
		color: #999;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
		header.open .header-instruction {
			opacity: 0;
		}
	header div.extra {
		margin: 45px 0 0 20px;
		clear: both;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
		header div.extra h3 {
			margin-bottom: 10px;
		}
		header a {
			padding: 2px 4px 2px 2px;
			color: #999;
			
			-webkit-transition: all .1s ease-out;
			   -moz-transition: all .1s ease-out;
			     -o-transition: all .1s ease-out;
			        transition: all .1s ease-in;
		}
			header a:hover {
				padding: 2px 4px 2px 2px;
				
				color: #ddd;
				background-color: #333;
				border-radius: 1px;
			}
		header section {
			height: 120px;
			padding: 0 25px;
			float: left;
			
			border-left: 1px #333 solid;
		}
		header p {
			margin-bottom: 5px;
			
			font-size: 12px;
			letter-spacing: 0.05em;
		}
		#about {
			padding-left: 0;
			border: none;
		}
		#about p.credits {
			margin: 15px 0 2px 0;
			
			font-style: italic;
			color: #666;
			font-size: 11px;
			line-height: 1.4em;
		}
		#about a:hover {
			padding: 2px 10px 2px 8px;
		}
		#share iframe, 
		#share div {
			display: inline-block;
		}
		#retweet-button {
			margin-right: 6px;
		}
		
a[href="http://www.w3counter.com"] {
	display: none!important;
}

.no-canvas {
	color: #999999;
	font-size: 24px;
	text-align: center;
	margin-top: 150px;
}


/*********************************************
 * EXPERIMENT STYLES
 *********************************************/

#game {
	background: url('../images/background.jpg');
	
	position: absolute;
	display: none;
	border: 1px solid #222222;
	border-radius: 2px;
	
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	color: #f4f4f4;
	text-align: center;
	
	-webkit-box-shadow: 0 0 10px #000;
	   -moz-box-shadow: 0 0 10px #000;
	     -o-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000;
}

#world {
	position: absolute;
	top: 0;
	left: 0;
}

#effects {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}


#menu {
	position: absolute;
	display: none;
	width: 830px;
	height: 440px;
	
	background: rgba(40,60,60,0.4);
	border-radius: 6px;
	
	z-index: 3;
	
	-webkit-box-shadow: 0 0 20px rgba(0,250,200,0.1);
	   -moz-box-shadow: 0 0 20px rgba(0,250,200,0.1);
	        box-shadow: 0 0 20px rgba(0,250,200,0.1);
	
	background-image: -moz-radial-gradient(center, circle closest-corner, rgba(50,200,200,0.3) 0%, rgba(50,200,200,0) 100%);
	background-image: -ms-radial-gradient(center, circle closest-corner, rgba(50,200,200,0.3) 0%, rgba(50,200,200,0) 100%);
	background-image: -o-radial-gradient(center, circle closest-corner, rgba(50,200,200,0.3) 0%, rgba(50,200,200,0) 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 500, color-stop(0, rgba(50,200,200,0.3)), color-stop(1.0, rgba(50,200,200,0)));
	background-image: -webkit-radial-gradient(center, circle closest-corner, rgba(50,200,200,0.3) 0%, rgba(50,200,200,0) 100%));
	background-image: radial-gradient(center, circle closest-corner, rgba(50,200,200,0.3) 0%, rgba(50,200,200,0) 100%);
}
	
	#menu h1 {
		text-shadow: 0 0 20px rgba(20,70,60,1);
		font-size: 86px;
		margin: 20px 20px 15px 20px;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
	}
		.winner #menu h1,
		.loser #menu h1 {
			display: none;
		}
	
	#menu section {
		display: none;
		padding: 15px;
		margin: 5px;
		width: 230px;
		
		background: rgba(0,0,0,0.1);
		
		vertical-align: text-top;
		
		border-radius: 6px;
	}
	
	#menu h2 {
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	
	#menu .button {
		display: inline-block;
		padding: 6px 18px 6px 18px;
		
		background: rgba(0,0,0,0.4);
		color: #fff;
		text-decoration: none;
		font-size: 20px;
		
		border-radius: 4px;
		
		-webkit-transition: all .19s ease-out;
	       -moz-transition: all .19s ease-out;
	         -o-transition: all .19s ease-out;
	            transition: all .19s ease-out;
	}
	
		#menu .button:hover {
			background: rgba(0,0,0,0.7);
			
			-webkit-box-shadow: 0 0 10px rgba(0,250,200,0.2);
			   -moz-box-shadow: 0 0 10px rgba(0,250,200,0.2);
			     -o-box-shadow: 0 0 10px rgba(0,250,200,0.2);
			        box-shadow: 0 0 10px rgba(0,250,200,0.2);
		}
	
	#menu .welcome {
		display: inline-block;
	}

#score {
	margin: 20px 0 15px;
	display: none;
}
	
	#score h3 {
		font-size: 22px;
	}
	
	#score p {
		color: rgba(100,240,255,0.9);
		font-size: 64px;
	}

#start-button {
	margin-top: 20px;
}

#lag-warning {
	position: relative;
	top: -35px;
	color: #777;
	display: none;
}

	#lag-warning a {
		color: #aaa;
		text-decoration: none;
	}

