name: "Continuous Integration"
run-name: Running tests on "${{ github.ref }}" by "${{ github.actor }}"
on: [push, pull_request, workflow_dispatch]

jobs:
  lint-readme:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - run: pip install mdformat-gfm mdformat-frontmatter mdformat-footnote
    - run: mdformat --check README.md

  check-links:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check links with lychee
      uses: lycheeverse/lychee-action@v2
      with:
        args: --accept 200,204,429 --timeout 20 --exclude-all-private --verbose README.md
        fail: false
